@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  font-size: $base-font-size;
  height: 100%;
  
}

body { 
  height: 100%; 
  font-family: 'Ubuntu', sans-serif; 
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 { margin: 0; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }

p { margin: 0; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

*, *:before, *:after { box-sizing: border-box; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content { 
  flex: 1 0 auto; 
  background-image: url('../images/content/bg.jpg');
  background-position: center top;
  background-size: 100% auto;
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  color: $white-text;
  height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: $content-size;
  width: 100%;
}
.main-header-text {
  font-size: 96px;
  font-weight: 400;
  padding: 30px 0;
}
.header-text {
  font-size: 44px;
  font-weight: 400;
  padding: 30px 0;
  width: fit-content;
  p {
    padding-right: 30px;
  }
  .underline{
    height: 2px;
    border: 1px solid $underline;
  }
}

.header-undertext {
  font-size: 17px;
  font-weight: lighter;
  p {
    padding: 3px 0;
  }
}
.btn-wrapper {
  @include flex-row;
  padding: 90px 0;
}
.boy-img {
  background-image: url('../images/content/kid_VR.png');
  background-position: center top;
  width: 430px;
  height: 350px;
  align-self: flex-end;
}
//Модули
@import "modules/modules";
