@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  font-size: $base-font-size;
  height: 100%;
  
}

body { 
  height: 100%; 
  font-family: 'Ubuntu', sans-serif; 
  font-weight: 500;
  background: $black;
}

h1, h2, h3, h4, h5, h6 { margin: 0; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }

p { margin: 0; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

*, *:before, *:after { box-sizing: border-box; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content { 
  flex: 1 0 auto; 
  background-image: url('../images/content/Rectangle.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  color: $white-text;
  height: 100vh;
  padding-top: 80px;
  @media (max-width: #{$screen-lg-min}) {
    background-position: center center;
  }
  &:before{
    @media (max-width: #{$screen-lg-min}) {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0,0,0, 0.3);
      -moz-transition: all .2s linear;
      -webkit-transition: all .2s linear;
      -ms-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear;
      z-index:3
    }
  }
  .content-wrapper{
    z-index: 10;
    @media (max-width: #{$screen-lg-min}) {
      position: relative;
      z-index: 4;
    }
  }
}


#main-page { 
  .content {
    background-image: url('../images/content/bg.jpg');
    flex-direction: column;
    justify-content: center;
    @media (max-width: #{$screen-lg-min}) {
      display: flex;
      padding-top: 80px;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: $content-size;
  width: 100%;
}
.main-header-text {
  font-size: 96px;
  font-weight: 400;
  padding: 30px 0;
  @media (max-width: #{$screen-lg-min}) {
    font-size: 36px;
    text-align: center;
  }
}
.header-text {
  font-size: 44px;
  font-weight: 400;
  padding: 30px 0;
  width: fit-content;
  p {
    padding-right: 30px;
  }
  .underline{
    height: 2px;
    border: 1px solid $underline;
  }
  @media (max-width: #{$screen-lg-min}) {
    font-size: 28px;
    text-align: left;
  }
}

.header-undertext {
  font-size: 17px;
  font-weight: lighter;
  p {
    padding: 3px 0;
  }
}
.btn-wrapper {
  @include flex-row;
  padding: 90px 0;
  @media (max-width: #{$screen-lg-min}) {
    display: none;
  }
}
.kid-img {
  background-image: url('../images/content/kid_VR.png');
  background-position: center top;
  width: 430px;
  height: 350px;
  align-self: flex-end;
  @media (max-width: #{$screen-lg-min}) {
    display: none;
  }
}

.boy-img {
  background-image: url('../images/content/boy.png');
  background-position: center top;
  width: 235px;
  height: 264px;
  position: absolute;
  right: 0;
  bottom: 0;
  @media (max-width: #{$screen-lg-min}) {
    display: none;
  }
}
.content-wrapper {
    flex-basis: 50%;
    @media (max-width: #{$screen-lg-min}) {
      flex-basis: auto;
      padding: 20px;
      text-align: center;
    }
}
.slick-cloned {
  display: none;
}
#how-it-works {
  .content {
    justify-content: center;
    align-items: baseline;
    position: relative;
    @media (max-width: #{$screen-lg-min}) {
      justify-content: initial;
    }
  }
  .content-wrapper {
    flex-basis: 75%;
    @media (max-width: #{$screen-xl-min}) {
      flex-basis: 90%;
    }
    @media (max-width: #{$screen-lg-min}) {
      flex-basis: auto;
      max-width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-bottom: 5px;
    }
  }
  .section_element {
    @media (max-width: #{$screen-lg-min}) {
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .header-text {
    align-self: center;
  }
  .grapical-adds-on {
    svg {
      &:first-child {
        top: 200px;
        left: 35%;
        position: absolute;
      }
      &:nth-child(2n) {
        top: 400px;
        left: 30%;
        position: absolute;
      }
      &:nth-child(3n) {
        top: 480px;
        left: 36%;
        position: absolute;
      }
      &:nth-child(n) {
        @media (max-width: #{$screen-xl-min}) {
          display: none;
        }
      }
    }
  }
  .scroll-wrapper {
    bottom: 20px;
    position: absolute;
    width: 100%;
    @media (max-width: #{$screen-lg-min}) {
      display: none;
    }
  }
}
#question {
  .content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    @media (max-width: #{$screen-lg-min}) {
      flex-basis: auto;
    }
  }
}
.question{
  padding-bottom: 5px;
}
.question__header {
  background: $white;
  color: $black;
  font-size: 17px;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;    
  justify-content: space-between;
  .toggle-btn {
    @include flex-row-centered;
    height: 72px;
    width: 72px;
    background: $button;
    @media (max-width: #{$screen-lg-min}) {
      min-width: 32px;
      max-width: 32px;
    }
    &:hover{
      background: $button-hover;
      cursor: pointer;
    }

    .icon-small {
      display: none;
      @media (max-width: #{$screen-lg-min}) {
        display: block;
        width: 16px;
      }
    }
  }
}

.question__text{
  background: $white;
  color: $black;
  padding: 50px;
  padding-top: 10px;
  font-weight: 300;
  font-size: 15px;
  text-align: left;
  @media (max-width: #{$screen-lg-min}) {
    padding: 10px;
  }
}
.question__header-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  p{
    &:first-child {
      color: $button;
      font-size: 24px;
      font-weight: bold;
      padding-left: 20px;
      padding-right: 10px;
      @media (max-width: #{$screen-lg-min}) {
        display: none;
      }
    }
    @media (max-width: #{$screen-lg-min}) {
      text-align: left;
      padding-left: 8px;
    }
  }
}
.hidden {
  display: none;
}
.icon{
  transition: 0.5s;
  @media (max-width: #{$screen-lg-min}) {
    display: none;
  }
}
.icon.close{
  transform: rotate(45deg);
  transition: 0.5s;
}

.sections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @media (max-width: #{$screen-lg-min}) {
    flex-wrap: nowrap;
    height: 100%;
    display: block;
  }
}
.section_element {
  flex-basis: 50%;
  display: flex;
  margin-bottom: 100px;  
  &:nth-child(2n){
    padding-top: 17px;
    @media (max-width: #{$screen-lg-min}) {
      padding-top: 0px;
    }
  }
  &:nth-child(3){
    padding-left: 30px;
    @media (max-width: #{$screen-lg-min}) {
      padding-left: 0px;
    }
  }
  @media (max-width: #{$screen-lg-min}) {
    flex-direction: column;
    margin-bottom: 0px;  
    flex-basis: initial;
  }
  @media (max-width: #{$screen-xl-min}) {
    margin-bottom: 0;
  }
  .section__image-wrapper {
    margin-right: 50px;
    @media (max-width: #{$screen-lg-min}) {
      align-self: center;
    }
    .img {
      width: 195px;
      height: 130px;
      position: relative;
      padding-top: 12px;
      margin-left: 8px;
    }
    .frame {
      width: 195px;
      height: 130px;
      border: 2px solid $button;
      margin-left: 20px;
      position: absolute;
    }
    .number {
      @include flex-row-centered;
      position: absolute;
      background: $white;
      color: $button;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      margin-top: -20px;
      font-size: 28px;
      font-weight: bold;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
  }
  .section__text {
    padding: 20px;
    @media (max-width: #{$screen-lg-min}) {
      max-width: 300px;
      align-self: center;
    }
    .section__header {
      font-size: 17px;
      width: 50%;
      @media (max-width: #{$screen-lg-min}) {
        font-size: 21px;
        text-align: left;
        font-weight: bold;
      }
    }
    .section__description {
      font-size: 15px;
      font-weight: 300;
      max-width: 300px;
      @media (max-width: #{$screen-lg-min}) {
        font-size: 15px;
        text-align: left;
        font-weight: 300;
      }
    }
  }
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
  .scroll {
    background: transparent;
    border: none;
    outline: none;
    text-align: center;
    flex-basis: 40%;
    @media (max-width: #{$screen-lg-min}) {
        display: none;
    }
  }
  .scroll-wrapper {
    padding-bottom: 30px;
    @media (max-width: #{$screen-lg-min}) {
      display: none;
    }
  }
  .social {
    display: flex;
    padding-bottom: 30px;
    padding-left: 60px;
    align-items: flex-end;
    flex-basis: 30%;
    @media (max-width: #{$screen-lg-min}) {
      display: none;
    }
    .soc-icon {
      opacity: 0.5;
      padding: 10px;
      &:hover{
        opacity: 1;
        cursor: pointer;
      }
    }
  }
  .kid-img {
    background-image: url('../images/content/kid_VR.png');
    background-position: center top;
    max-width: 430px;
    height: 350px;
    align-self: flex-end;
    @media (max-width: #{$screen-lg-min}) {
      display: none;
    }
  }
}
.text-wrapper {
  p {
    font-size: 17px;
    font-weight: 300;
    text-align: left;
    padding-bottom: 20px;
  }
}

#about-product {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
  }
  .scroll-wrapper {
    bottom: 20px;
    position: absolute;
    width: 100%;
    text-align: center;
    @media (max-width: #{$screen-lg-min}) {
      display: none;
    }
  }
}
.slick-arrow {
  height: 16px;
  width: 8px;
  border: 0;
  z-index: 999;
}
.slick-prev{
  right: 60px;
}
.slick-next{
  right: 0;
  .slick-arrow {
    transform: rotate(180deg);
  }
}
.arrow-wrapper{
  width: 60px;
  height: 48px;
  background: $black;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
//Модули
@import "modules/modules";
