@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  font-size: $base-font-size;
  height: 100%;
  
}

body { 
  height: 100%; 
  font-family: 'Ubuntu', sans-serif; 
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 { margin: 0; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }

p { margin: 0; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

*, *:before, *:after { box-sizing: border-box; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content { 
  flex: 1 0 auto; 
  background-image: url('../images/content/Rectangle.jpg');
  background-position: center top;
  background-size: 100% auto;
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  color: $white-text;
  height: 100vh;
  padding-top: 80px;
  @media (max-width: #{$screen-sm-min}) {
    background-position: center center;
    background-size: auto 100%;
    display: none;
  }
}

#main-page { 
  .content {
    background-image: url('../images/content/bg.jpg');
    flex-direction: column;
    justify-content: center;
    @media (max-width: #{$screen-sm-min}) {
      display: flex;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: $content-size;
  width: 100%;
}
.main-header-text {
  font-size: 96px;
  font-weight: 400;
  padding: 30px 0;
  @media (max-width: #{$screen-sm-min}) {
    font-size: 36px;
    text-align: center;
  }
}
.header-text {
  font-size: 44px;
  font-weight: 400;
  padding: 30px 0;
  width: fit-content;
  p {
    padding-right: 30px;
  }
  .underline{
    height: 2px;
    border: 1px solid $underline;
  }
}

.header-undertext {
  font-size: 17px;
  font-weight: lighter;
  p {
    padding: 3px 0;
  }
}
.btn-wrapper {
  @include flex-row;
  padding: 90px 0;
  @media (max-width: #{$screen-sm-min}) {
    display: none;
  }
}
.kid-img {
  background-image: url('../images/content/kid_VR.png');
  background-position: center top;
  width: 430px;
  height: 350px;
  align-self: flex-end;
  @media (max-width: #{$screen-sm-min}) {
    display: none;
  }
}

.boy-img {
  background-image: url('../images/content/boy.png');
  background-position: center top;
  width: 235px;
  height: 264px;
  align-self: flex-end;
  @media (max-width: #{$screen-sm-min}) {
    display: none;
  }
}
.content-wrapper {
    flex-basis: 50%;
    @media (max-width: #{$screen-sm-min}) {
      flex-basis: auto;
    }
}

#how-it-works {
  .content-wrapper {
    flex-basis: 75%;
    @media (max-width: #{$screen-sm-min}) {
      flex-basis: auto;
    }
  }
}
#question {
  .content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 200px;
  }
}
.question{
  padding-bottom: 5px;
}
.question__header {
  background: $white;
  color: $black;
  font-size: 17px;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;    
  justify-content: space-between;
  .toggle-btn {
    @include flex-row-centered;
    height: 72px;
    width: 72px;
    background: $button;
  }
}

.question__text{
  background: $white;
  color: $black;
  padding: 50px;
  padding-top: 10px;
  font-weight: 300;
  font-size: 15px;
}
.question__header-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  p{
    &:first-child {
      color: $button;
      font-size: 24px;
      font-weight: bold;
      padding-left: 20px;
      padding-right: 10px;
    }
  }
}
.hidden {
  display: none;
}
.icon{
  transition: 0.5s;
  &:hover{
    background: $button-hover;
    cursor: pointer;
  }
}
.icon.close{
  transform: rotate(45deg);
  transition: 0.5s;
}

.sections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.section_element {
  flex-basis: 50%;
  display: flex;
  margin-bottom: 100px;  
  &:nth-child(2n){
    padding-top: 17px;
  }
  &:nth-child(3){
    padding-left: 30px;
  }
  .section__image-wrapper {
    margin-right: 50px;
    .img {
      width: 195px;
      height: 130px;
      position: relative;
      margin-top: 12px;
      margin-left: 8px;
    }
    .frame {
      width: 195px;
      height: 130px;
      border: 2px solid $button;
      margin-left: 20px;
      position: absolute;
    }
    .number {
      @include flex-row-centered;
      position: absolute;
      background: $white;
      color: $button;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      margin-top: -20px;
      font-size: 28px;
      font-weight: bold;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
  }
  .section__text {
    padding: 20px;
    .section__header {
      font-size: 17px;
      width: 50%;
    }
    .section__description {
      font-size: 15px;
      font-weight: 300;
    }
  }
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
  .scroll {
    background: transparent;
    border: none;
    outline: none;
    padding-bottom: 30px;
    text-align: center;
    flex-basis: 40%;
    @media (max-width: #{$screen-sm-min}) {
        display: none;
    }
  }
  .social {
    display: flex;
    padding-bottom: 30px;
    padding-left: 60px;
    align-items: flex-end;
    flex-basis: 30%;
    @media (max-width: #{$screen-sm-min}) {
      display: none;
    }
    .soc-icon {
      opacity: 0.5;
      padding: 10px;
    }
  }
  .kid-img {
    background-image: url('../images/content/kid_VR.png');
    background-position: center top;
    max-width: 430px;
    height: 350px;
    align-self: flex-end;
    flex-basis: 30%;
    @media (max-width: #{$screen-sm-min}) {
      display: none;
    }
  }
}



// // Small devices
// @media (min-width: #{$screen-sm-min}) {
//   .kid-img, .boy-img, .company-name{
//     display: none;
//   }
//   .nav {
//     display: none;
//   }
// }

// // Medium devices
// @mixin md {
//   @media (min-width: #{$screen-md-min}) {
//       @content;
//   }
// }

// // Large devices
// @mixin lg {
//   @media (min-width: #{$screen-lg-min}) {
//       @content;
//   }
// }

// // Extra large devices
// @mixin xl {
//   @media (min-width: #{$screen-xl-min}) {
//       @content;
//   }
// }

//Модули
@import "modules/modules";
