header.header 
    .header-wrapper
        .logo-group
            .icon
                include ../../../static/images/svg/logo.svg
            .company-name
                p Digital planet
        .nav
            ul
                li 
                    a O продукте
                li.point •
                li 
                    a Как работает
                li.point •
                li 
                    a Технология
                li.point •
                li 
                    a Вопросы
                li.point •
                li 
                    a Контакты
        .connect
            .order
                button.small-order-btn
                    p Заказать
            .phone
                p 8 (800) 555 35 75