header.header 
    .header-wrapper
        .logo-group
            .icon-company
                a(href="#main-page")
                    include ../../../static/images/svg/logo.svg
            .company-name
                p Digital planet
        .nav
            ul
                li.nav-item 
                    a(href='#about-product')  O продукте
                li.point •
                li.nav-item  
                    a(href='#how-it-works')  Как работает
                li.point •
                li.nav-item  
                    a(href='#technology')  Технология
                li.point •
                li.nav-item  
                    a(href='#question')  Вопросы
                li.point •
                li.nav-item  
                    a(href='#contacts')  Контакты
        .mobile-nav
            ul.nav-items
                li.nav-item 
                    a(href='#main-page')  Главная
                li.nav-item 
                    a(href='#about-product')  O продукте
                li.nav-item  
                    a(href='#how-it-works')  Как работает
                li.nav-item  
                    a(href='#technology')  Технология
                li.nav-item  
                    a(href='#question')  Вопросы
                li.nav-item  
                    a(href='#contacts')  Контакты
            .stripe
            .phone
                p 8 (800) 555 35 75
        .connect
            .order
                button.small-order-btn
                    p Заказать
            .phone
                p 8 (800) 555 35 75
        .mobile-menu-burger
            .burger-btn
                .menu-burger
                .menu-burger
                .menu-burger