extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	.first-page.content
		.left-space
		.content-wrapper
			.main-header-text
				p Digital Planet VR
			.header-undertext
				p Образовательный виртуальный планетарий в Новороссийске.
				p Познавательное приключение в мир звёзд и галактик.
			.btn-wrapper 
				button.order-btn 
					include ../static/images/svg/Vector.svg 
					p Заказать
				button.watch-btn 
					include ../static/images/svg/video.svg 
					p Видео
		.boy-img
	.second-page.content
		.left-space
		.content-wrapper
			.header-text
				p Часто задаваемые вопросы
				.underline
			.questions-wrapper
				.question
					.question__header
						p Безопасны ли VR-очки для зрения ребёнка? Какие есть ограничения?
						.toggle-btn
					.question__text
						p VR-очки были разработаны специально для того, чтобы каждый человек, независимо от возраста, качества зрения и опыта использования аналогичных продуктов мог безопасно и легко пользоваться этой технологией. У нас есть сертификат качества продукции и лицензия для её использования на территории РФ. Для людей с зрением, отличным от идеального, на VR-очках предусмотрена регулировка диоптрий.  
		.boy-img
