@mixin size($a,$b: $a) {
  width: $a;
  height: $b;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-row-centered {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


@mixin button {
  height: 68px;
  width: 238px;
  color: $white-text;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  svg, p {
    margin: 5px;
  }
  &:hover {
    background: $button-hover;
    cursor: pointer;
  }
}

@mixin button-small {
  height: 34px;
  width: 108px;
  color: $white-text;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  svg, p {
    margin: 5px;
  }
  &:hover {
    background: $button-hover;
    cursor: pointer;
  }
}