// Colors
$white-text: #ffffff;
$white: #ffffff;
$black: #1C1C1C;
$button: #15B28D;
$button-hover: #0DD1A2;
$point-color: #B0ACAC;
$underline: #0DD1A2;
$background: #0D1117;
// Sizes
$base-font-size: 16px;
$max-width: 1366px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

$content-size: 1024px;

// Fonts